
<div class = "row">
    <h2> Employee List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th> Name</th>
            <th> Email </th>
            <th> Phone</th>
            <th> Actions</th>
            <!-- <th> Password </th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{ employee.pk_id }} </td>
            <td> {{ employee.name }} </td>
            <td> {{ employee.email }} </td>
            <td> {{ employee.phone }} </td>
            <td>
                <button (click) = "updateEmployee(employee.pk_id,urlType)" class = "btn btn-primary"> Update</button>
                <button (click) = "deleteEmployee(employee.pk_id,urlType)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(employee.pk_id,urlType)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
                <!-- <button (click) = "employeeDetails(employee.pk_id)" class = "btn btn-primary" style="margin-left: 10px"> Send Mail</button> -->
            </td>
        </tr>
    </tbody>
</table>