<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
      </li>
      <li class = "nav-item">
        <a routerLink="mailer" routerLinkActive="active" class="nav-link" >Send Email</a>
    </li>
  </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
      <span>@2022 All Rights Reserved By ::NARESH GUMMAGUTTA::</span>
  </div>
</footer>